<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h1 align="center">Enter Your Blog</h1>
<a href="/exe/logout/">Logout</a>
<a href="/exe/redirect_add/">+</a>
<a href="/exe/profile/">My Posts</a>
<form method="POST" action="/exe/add/" >
    {% csrf_token %}
   <table>
    <td>Enter Blog Title</td>
    <td><input type="text" name="blog_title"></td>
    <td>Enter Blog Text</td>
    <td><input type="text" name="blog_text"></td>
    <td><input type="submit" value="create"></td>
   </table>
</form>
</body>
</html>
