<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checking</title>
</head>
<body>

<table>
    {% csrf_token %}
{% for blog in whole %}
    <tbody>
    <tr>
        <td>{{ blog.username }}</td>
    </tr>
    <tr>
        <td>{{ blog.blog_title }}</td>
    </tr>
    <tr>
        <td>{{ blog.blog_text }}</td>
    </tr>
    <tr>
        <td>{{ blog.pub_date }}</td>
    </tr>
    <tr>
        <td><h1>.</h1></td>
    </tr>
    </tbody>


{% endfor %}
    <h1>{{ obj['username'] }}</h1>
</table>


</body>
</html>