<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Welcome to the BLOG-Spot Dashboard</h1>
<a href="/exe/logout/">Logout</a>
<a href="/exe/redirect_add/">+</a>
<a href="/exe/profile/">My Posts</a>
<h1> ??Blogs?? </h1>
<table>
    {% csrf_token %}
{% for blog in data_queryset %}
    <tbody>
    <tr>
        <td>{{ blog.username }}</td>
    </tr>
    <tr>
        <td>{{ blog.blog_title }}</td>
    </tr>
    <tr>
        <td>{{ blog.blog_text }}</td>
    </tr>
    <tr>
        <td>{{ blog.pub_date }}</td>
    </tr>
    <tr>
        <td>{{ blog.creation_date }}</td>
    </tr>
    <tr>
        <td><h1>.</h1></td>
    </tr>
    </tbody>


{% endfor %}
</table>

</body>
</html>