<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Welcome to the BLOG-Spot Dashboard</h1>
<a href="/logout/">Logout</a>
<a href="/redirect_add/">+</a>
<a href="/profile/">My Posts</a>
<h1> ??Blogs?? </h1>
<table>
    <tr>
        <th>Username</th>
        <th>Blog Title</th>
        <th>Blog Description</th>
        <th>Publishing Date</th>
        <th>Blog Creation Date</th>
        <th>Tags</th>
    </tr>
{% for blog in data_queryset %}
<tr>
    <td>{{ blog.username }}</td>
    <td>{{ blog.blog_title }}</td>
    <td>{{ blog.blog_text }}</td>
    <td>{{ blog.pub_date }}</td>
    <td>{{ blog.creation_date }}</td>
    {% for tag_obj in blog.tag_post_set.all %}
    <td>{{ tag_obj.tag_mod.name }}</td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>