<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1 align="center">Update your Post here</h1>
<a href="/exe/logout/">Logout</a>
<a href="/exe/red/">+</a>
<a href="/exe/profile/">My Posts</a>
<form method="POST" action="/exe/update/{{ data_queryset.id }}/" >
    {% csrf_token %}
        <input type="text" name="blog_text" value="{{ data_queryset.blog_text }}">
        <input type="text" name="blog_title" value="{{ data_queryset.blog_title }}">
    <button type="submit" >Update</button>
</form>

</body>
</html>