<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1 align="center">Welcome {{ request.user.username }}</h1>
<a href="/dash/">Dashboard</a>
<a href="/logout/">Logout</a>
<a href="/redirect_add/">+</a>

<table>
    <tr>
        <th>Blog Title</th>
        <th>Blog Description</th>
        <th>Blog Creation Date</th>
        <th>Tags</th>
        <th>Actions</th>
    </tr>
    {% csrf_token %}
{% for blog in data_queryset %}
    <tbody>
        <td>{{ blog.blog_title }}</td>
        <td>{{ blog.blog_text }}</td>
        <td>{{ blog.creation_date }}</td>
        {% for tag_obj in blog.tag_post_set.all %}
        <td>{{ tag_obj.tag_mod.name }}</td>
        {% endfor %}
       <td><a href="/delete/{{ blog.id }}/">Delete</a></td>
    <td><a href="/edit/{{ blog.id }}/">Edit</a></td>
    <td><a href="/publish/{{ blog.id }}/">Publish</a></td>
    </tbody>
{% endfor %}
</table>
</body>
</html>